.testimonials {
    padding: 50px 0 85px 0;
    background-color: #fff;

    @media (max-width:$md3){
    padding: 50px 0 15px 0;
      
    }

    &__inner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        width: 56px;
    }

    &__item {
        margin-top: 50px;
        width: 833px;
        @media (max-width:$md2){
          width: auto;
          margin: 50px 50px;
        }
        @media (max-width:$md3){
          height: auto;
          padding: 20px 0px;
        }
        height: 302px;
        box-shadow: 0 30px 60px rgba(64, 72, 90, 0.15);
        background-color: #ffffff;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        padding: 0px 50px;
        text-align: center;
        color: $dark_gray;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 34px;
        span {
            color: $primary;
            font-family: Roboto, sans-serif;
            font-weight: 300;
        }
    }
}
.author {
    margin-top: 45px;
    display: flex;
    align-items: center;


    @media (max-width:$md3){
      margin-top: 20px;
    }

    @media (max-width:$md5){
      flex-direction: column;
    }

    &__description {
        margin-left: 16px;
    }

    &__name {
        color: $dark_gray;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    &__rank {
        margin-top: 5px;
        color: $primary;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
}
